.langList a {
  text-decoration: none; }

.langList .langText {
  color: aliceblue; }

.menuBar {
  padding-left: 10px; }

.MenuBar {
  padding-left: 16px !important;
  padding-right: 16px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
