.InfiniteList .InfiniteRow {
  border-bottom: 1px solid #282c34;
  padding: 5px; }
  .InfiniteList .InfiniteRow a {
    text-decoration: none;
    color: #282c34; }
  .InfiniteList .InfiniteRow .InfiniteRowBody .link {
    text-decoration: underline;
    color: #dd1940; }
  .InfiniteList .InfiniteRow .InfiniteRowBody .mention {
    color: #3389dd;
    font-weight: bold; }
  .InfiniteList .InfiniteRow .InfiniteRowBody .hash {
    color: #3389dd;
    font-weight: bold; }
  .InfiniteList .InfiniteRow .InfiniteRowBody .favorite {
    margin: 2px 2px 0 2px; }
  .InfiniteList .InfiniteRow .InfiniteRowBody .retweet {
    margin: 2px 3px 0 10px; }

.hashTag {
  color: aqua; }
