.ArticleHeader {
  border-bottom: 1px solid #282c34 !important;
  margin-top: 30px; }
  .ArticleHeader a {
    text-decoration: none;
    color: #282c34; }
  .ArticleHeaderText span {
    text-overflow: clip;
    overflow: hidden; }
  .ArticleHeader .link {
    text-decoration: underline;
    color: #dd1940; }
  .ArticleHeader .avater {
    color: #FFF; }
  .ArticleHeader-Detail {
    display: flex;
    flex-direction: row; }
  .ArticleHeader-Body {
    flex: 1; }
  .ArticleHeader-Body:last-child {
    padding-top: 0px;
    padding-bottom: 0px !important; }
  .ArticleHeader-Image {
    flex: 1;
    padding-top: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    background-origin: content-box; }
  .ArticleHeader-Collapse {
    position: absolute;
    top: 120px; }
  .ArticleHeader .isMenuClassc {
    display: flex; }
