.ArticleHeader {
  border-bottom: 1px solid #282c34 !important; }
  .ArticleHeader a {
    text-decoration: none;
    color: #282c34; }
  .ArticleHeaderText span {
    text-overflow: clip;
    overflow: hidden; }
  .ArticleHeader .link {
    text-decoration: underline;
    color: #dd1940; }
  .ArticleHeader .avater {
    color: #FFF; }
  .ArticleHeader-Body:last-child {
    padding-top: 0px;
    padding-bottom: 0px !important; }
