

.ArticleHeader{
  border-bottom: 1px solid #282c34 !important;

  & a{
    text-decoration: none;
    color: #282c34;
  }

  &Text span{
    text-overflow: clip;
    overflow: hidden;
  }

  & .link{
    text-decoration: underline;
    color: #dd1940;
  }

  & .avater {
    color: #FFF;
  }

  &-notMenu {
    margin-top: -64px;
  }


  &-Detail {
    display: flex;
    flex-direction: row;
  }
  &-Body {
    flex: 3;
  }

  &-Body:last-child {
    padding-top: 0px;
    padding-bottom: 0px !important;
  }

  &-Image {
    flex: 1;
    //width: 450px;
  }




  .isMenuClassc {
    display: flex;
  }
}

