

.ArticleHeader{
  border-bottom: 1px solid #282c34 !important;
  margin-top: 30px;

  & a{
    text-decoration: none;
    color: #282c34;
  }

  &Text span{
    text-overflow: clip;
    overflow: hidden;
  }

  & .link{
    text-decoration: underline;
    color: #dd1940;
  }

  & .avater {
    color: #FFF;
  }

  //&-notMenu {
  //  margin-top: -64px;
  //}


  &-Detail {
    display: flex;
    flex-direction: row;
  }
  &-Body {
    flex: 1;
  }

  &-Body:last-child {
    padding-top: 0px;
    padding-bottom: 0px !important;
  }

  &-Image {
    flex: 1;
    //width: 450px;
    padding-top: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    background-origin: content-box;
  }

  &-Collapse {
    position: absolute;
    top: 105px;
    max-width: 768px;
    min-width: 320px;
    border-bottom: solid 1px #282c34;
  }




  .isMenuClassc {
    display: flex;
  }
}

